.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    width: 200px;
}

.img{
    border: 1px solid #707070;
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit1{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 12px;
    font-weight: 300;
}

.after{
    font-size: 16px;
    font-weight: 700;
}

.btn{
    font-size: 16px;
    background: #FFF;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #888888;
    height: 30px;
    width: 200px;
}