.header {
    background: #707070;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding: 40px 0;
}

.p {
    margin-top: 0%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.btn {
    width: 160px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
}

.btn:hover {
    width: 158px;
    height: 38px;
}